$codeBlockBackground: #282c34;

.code-block {
  background-color: $codeBlockBackground;
}

.copy-code {
  z-index: 10;
  right: 0;
}

.vh-70 {
  height: 70vh !important;
}

.card-body {
  padding: 0;
  overflow-y: scroll;
}

@import 'prismjs/themes/prism-tomorrow.css';