@import '@3squared/forge-ui-3/dist/esm/style.css';
@import "@3squared/forge-playground-3/dist/style.css";

.iframe {
  width: 100%;
  height: 700px;
}

.changelog {
  padding: 1rem;
  h1 {
    margin-bottom: 2rem;
  }
  
  h2 {
    margin-bottom: 1.5rem;
    
  }
  
  h3 {
    margin-bottom: 0.5rem;
  }
  
  & > ul {
    padding-bottom: 1.5rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid lightgrey;
  }
}