@each $color, $value in $base-colors {
  .btn.btn-text-#{$color}{
    &:hover, &:active:focus {
      background-color: map-get($subtle-colors, '#{$color}-subtle');
    }
  }
  
  .badge.button-badge-#{$color} {
    background-color: white;
    color: map-get($theme-colors, $color);
    
    &.outlined {
      background-color: map-get($theme-colors, $color);
      color: white;
    }
  }
}