.datepicker-panel {
    min-width: 317px !important;
}

.p-datepicker-multiple-month {
  max-width: 948px;
}

.datepicker-invalid {
  @extend .is-invalid;
  background-image: unset !important;
}

.p-datepicker-trigger {
  display: none !important;
}

.datepicker-close-icon {
  margin: 1.75rem;
  
  &:hover {
    color: map-get($theme-colors, 'danger') !important;
  }
}

.datepicker-table {
  border-collapse: separate;
  border-spacing: 10px 12px;
  margin: 6px;
}

@each $color, $value in $base-colors {
  .date-#{$color} {
    width: 32px !important;
    height: 32px !important;
    border-radius: 50% !important;
    
    &.today {
      @if($color == 'brand') {
        background-color: map-get($subtle-colors, '#{$color}-shade-1');
        color: map-get($theme-colors, $color);
      } @else {
        background-color: map-get($subtle-colors, '#{$color}-subtle');
        color: map-get($theme-colors, $color);
      }    
    }

    &.selected, &.selected:hover {
      background-color: map-get($theme-colors, $color);
    }

    &.text-grey-300.opacity-50 {
      opacity: 1 !important;
    }
    
    &:hover:not(.text-grey-300) {
      @if($color == 'brand') {
        background-color: map-get($subtle-colors, '#{$color}-shade-1');
        color: map-get($theme-colors, $color) !important;
      } @else {
        background-color: map-get($subtle-colors, '#{$color}-subtle');
        color: map-get($theme-colors, $color) !important;
      }
    }

    &:hover:not(.text-grey-300, .opacity-50) {
      cursor: pointer;
    }
  }
}

.date {



}