@each $color, $value in $theme-colors {
  .forge-multiselect-#{$color} {
    @extend .form-control;
    display: flex !important;
    position: relative;
    cursor: pointer;

    .multiselect__caret {
      order: 3;
      margin: auto 0 auto auto;
    
      & > .multiselect__arrow.open {
        transform: rotate(180deg);
      }
      
      & > .multiselect__clear:hover {
        color: map-get($base-colors, "danger") !important;
      }
    }

    .multiselect__input,
    .multiselect__single {
      border: none;
      outline: none;
    }

    .multiselect__placeholder {
      @extend .filter-placeholder;
    }
    
    .multiselect__content {
      display: inline-block;
      width: 100%;
    }

    .multiselect__content-wrapper {
      @extend .rounded;
      position: absolute;
      background: white;
      border: $input-border-width solid $input-border-color;
      width: 100%;
      left: 0;
      top: 100%;
      
      & > ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
      
      & > .multiselect--left {
        right: 0;
      }
    }

    .multiselect__tag {
      @if($color == "brand") {
        background: map-get($subtle-colors, "brand-shade-1");
      } @else {
        background: map-get($subtle-colors, $color + "-subtle");
      }
      padding: 0 3px 0 10px;
      border-radius: 21px;
      border: 1px solid $value;
      color: $value;
      margin-right: 5px;
    }
    
    .multiselect__option {
      display: block;
      cursor: pointer;
    }

    .multiselect__option--highlight {
      background: lightgray;
    }
  }
}

[data-pc-section="box"] {
  display: none
}