.cursor-pointer {
  cursor: pointer;
}

.cursor-resize {
  cursor: col-resize;
}

.cursor-move {
  cursor: move;
}

.disabled {
  @extend .form-control, :disabled;
}

.invalid-feedback {
  @extend .invalid-feedback;
  display: block !important;
}

.z-index-dropdown {
  z-index: $zindex-dropdown
}

.text-invalid {
  color: $form-invalid-color
}

.w-fit-content {
  width: fit-content;
}

.filter-placeholder {
  white-space: nowrap;
  overflow: hidden;
  color: $input-placeholder-color
}

.filter-trigger {
  position: absolute;
  right: 0;
  margin-right: 8px;
  background-color: white;
}

.rotate-180 {
  transform: rotate(180deg)
}

.ellipsis-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

$font-weights: (
        'fw-100': 100,
        'fw-200': 200,
        'fw-300': 300,
        'fw-400': 400,
        'fw-500': 500,
        'fw-600': 600,
        'fw-700': 700,
        'fw-800': 800,
        'fw-900': 900
);

$sizes: (
        5: 5%,
        10: 10%,
        15: 15%,
        20: 20%,
        25: 25%,
        30: 30%,
        35: 35%,
        40: 40%,
        45: 45%,
        50: 50%,
        55: 55%,
        60: 60%,
        65: 65%,
        70: 70%,
        75: 75%,
        80: 80%,
        85: 85%,
        90: 90%,
        95: 95%,
        100: 100%,
        auto: auto
);

@each $size, $value in $sizes {
  .w-#{$size} {
    width: $value;
  }
}

@each $color, $value in $grays {
  .bg-grey-#{$color} {
    background-color: $value !important;
  }
}

@each $font-weight, $value in $font-weights {
  .fw-#{$value} {
    font-weight: $value;
  }
}

$pixels: (
        50px: 50px,
        100px: 100px,
        150px: 150px,
        200px: 200px,
        250px: 250px,
        300px: 300px,
        350px: 350px,
        400px: 400px,
        450px: 450px,
        500px: 500px,
        600px: 600px,
        700px: 700px,
        800px: 800px,
        900px: 900px,
        1000px: 1000px
);


@each $key, $value in $pixels {
  .mh-#{$key} {
    max-height: $value !important;
  }
}

@each $key, $value in $pixels {
  .mw-#{$key} {
    max-width: $value !important;
  }
}

@each $key, $value in $pixels {
  .max-h-#{$key} {
    max-height: $value !important;
  }
}

@each $key, $value in $pixels {
  .max-w-#{$key} {
    max-width: $value !important;
  }
}

@each $key, $value in $pixels {
  .min-h-#{$key} {
    min-height: $value !important;
  }
}

@each $key, $value in $pixels {
  .min-w-#{$key} {
    min-width: $value !important;
  }
}