.cursor-pointer {
  cursor: pointer;
}

.cursor-resize {
  cursor: col-resize;
}

.cursor-move {
  cursor: move;
}

.disabled {
  @extend .form-control, :disabled;
}

.text-invalid {
  color: $form-invalid-color
}

.w-fit-content {
  width: fit-content;
}

.filter-placeholder {
  color: $input-placeholder-color
}

.rotate-180 {
  transform: rotate(180deg)
}