.cursor-pointer {
  cursor: pointer;
}

.cursor-resize {
  cursor: col-resize;
}

.cursor-move {
  cursor: move;
}

.disabled {
  @extend .form-control, :disabled;
}

.text-invalid {
  color: $form-invalid-color
}

.w-fit-content {
  width: fit-content;
}

.filter-placeholder {
  white-space: nowrap;
  overflow: hidden;
  color: $input-placeholder-color
}

.filter-trigger {
  position: absolute;
  right: 0;
  margin-right: 8px;
  background-color: white;
}

.rotate-180 {
  transform: rotate(180deg)
}