@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

//Forge Theme
$primary: #0077c8;
$primary-dark: #006bb4;
$primary-light: #e5f0f7;

$secondary: #5f5f5f;

$success: #21aa64;
$success-dark: #177746;
$success-light: #e9f7f0;

$warning: #ffae00;
$warning-dark: #B05319;
$warning-light: #fff7e6;

$danger: #f72323;
$danger-dark: #C61C1C;
$danger-light: #FCEBE9;

$light: #f6f6f6;

$base-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'success': $success,
  'warning': $warning,
  'danger': $danger,
  'light': $light,
  'info': $info
);

$badge-font-size: 0.75rem;

$subtle-colors: (
        'primary-subtle': $primary-light,
        'success-subtle': $success-light,
        'warning-subtle': $warning-light,
        'danger-subtle': $danger-light,
        'info-subtle': $info-bg-subtle
);

$dark-colors: (
        'primary-dark': $primary-dark,
        'success-dark': $success-dark,
        'warning-dark': $warning-dark,
        'danger-dark': $danger-dark
);

@each $color, $value in $grays {
  .bg-grey-#{$color} {
    background-color: $value !important;
  }
}

$theme-colors: map-merge-multiple($theme-colors, $base-colors, $subtle-colors, $dark-colors);