@import '../../../../../node_modules/bootstrap/scss/functions';
@import '../../../../../node_modules/bootstrap/scss/variables';
@import '../../../../../node_modules/bootstrap/scss/variables-dark';

//Forge Theme
$brand: $indigo !default;
$brand-dark: $indigo-800 !default;
$brand-shade-1: $indigo-100 !default;
$brand-shade-2: $indigo-300 !default;
$brand-shade-3: $indigo-600 !default;

$primary: #0077c8;
$primary-dark: #006bb4;
$primary-light: #e5f0f7;

$secondary: #5f5f5f;

$success: #21aa64;
$success-dark: #177746;
$success-light: #e9f7f0;

$warning: #ffae00;
$warning-dark: #B05319;
$warning-light: #fff7e6;

$danger: #f72323;
$danger-dark: #C61C1C;
$danger-light: #FCEBE9;

$light: #f6f6f6;

$base-colors: (
  'brand': $brand,
  'primary': $primary,
  'secondary': $secondary,
  'success': $success,
  'warning': $warning,
  'danger': $danger,
  'light': $light,
  'info': $info
);

$badge-font-size: 0.75rem;

$subtle-colors: (
        'brand-shade-1': $brand-shade-1,
        'brand-shade-2': $brand-shade-2,
        'brand-shade-3': $brand-shade-3,
        'primary-subtle': $primary-light,
        'success-subtle': $success-light,
        'warning-subtle': $warning-light,
        'danger-subtle': $danger-light,
        'info-subtle': $info-bg-subtle
);

$dark-colors: (
        'brand-dark': $brand-dark,
        'primary-dark': $primary-dark,
        'success-dark': $success-dark,
        'warning-dark': $warning-dark,
        'danger-dark': $danger-dark
);

@each $color, $value in $grays {
  .bg-grey-#{$color} {
    background-color: $value !important;
  }
}

$theme-colors: map-merge-multiple($theme-colors, $base-colors, $subtle-colors, $dark-colors);

$brand-text-emphasis: shade-color($brand, 60%) !default;
$brand-bg-subtle: $brand-shade-1 !default;
$brand-border-subtle: tint-color($brand-dark, 60%) !default;

@import '../../../../../node_modules/bootstrap/scss/maps';

$brand-theme-colors-text: (
  "brand": $brand-text-emphasis
);

$theme-colors-text: map-merge($theme-colors-text, $brand-theme-colors-text);

$brand-theme-colors-bg-subtle: (
  "brand": $brand-bg-subtle
);

$theme-colors-bg-subtle: map-merge($theme-colors-bg-subtle, $brand-theme-colors-bg-subtle);

$brand-theme-colors-border-subtle: (
  "brand": $brand-border-subtle
);

$theme-colors-border-subtle: map-merge($theme-colors-border-subtle, $brand-theme-colors-border-subtle)